/*    Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* To make it scroll properly */
html{
    scroll-behavior: smooth;
}


.section1{
    width: 100%;
    /* margin-bottom: 15%; */
}
.main-txts{
    text-align: center;
    background-image: url(/Images/middlespace.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px;
}
.main-txts h1{
    font-size: 3rem;
    color: rgb(42, 42, 42);
}
.main-txts a{
    /* To underline */
    text-decoration: underline;
    color: rgb(236, 236, 236)
}
ul{
    padding-top: 30px;
    word-spacing: 15px;
    
}
a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}
.nav-links{
    word-spacing: 18px;
    position: relative;
    right: 2%;
}
#menu-bar{
    list-style: none;
    display: none; /* Hide initially */
}
.navtxt{
    height: 100%;
    color: rgb(255, 176, 29);
}
a:hover{
    color: brown;
}
nav{
    display: flex;
    gap: 20%;
    justify-content: space-around;
    border: 1px solid brown;
    padding: 10px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #F5DEB3;
}

/* This is the media query for smaller screens */
@media screen and (max-width: 991px){
    .main-txts ul{
        padding-left: 18px;
        padding-right: 18px;
        line-height: 32px;
    }
    .main-txts h1{
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section1{
        margin-bottom: 18%;
    }
    
}
@media screen and (max-width: 768px){
    
}
@media screen and (max-width: 480px){

}





.socials{
    position: relative;
    bottom: 5px;
    right: 5px;
}
.socials img{
    width: 25px;
    margin: 5px;
}


/* for the contact page */
.contact{
    width: 100%;
    margin-top: 5%;
    display: flex;
}
.cont1{
    width: 45%;
    padding: 60px;
    border: 1px solid #6B8E23;
}
.cont1 h1{
    font-size: 4rem;
    line-height: 4.5rem;
    padding-bottom: 15px;
    color: brown;
}
.cont2{
    width: 55%;
    border: 1px solid #6B8E23;
    padding: 20px;
    padding-left: 0;
    text-align: center;
    padding-right: 50px;
}
.cont2 p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
}
.cont-form{
    padding-top: 20px;
}
#cont-mail{
    font-size: 18px;
    width: 50%;
    height: 40px;
    outline: none;
}
#cont-button{
    height: 40px;
    width: 10%;
    background-color: brown;
    color: white;
    border: none;
    outline: none;
}
#cont-button:hover{
    background-color: peru;
    border-radius: 5px;
}

.boxI{
    padding: 10px;
}
.cont-socials{
    position: relative;
    right: 10px;
}
#p-socia{
    padding-top: 40px;
}
hr{
    color: rgb(255, 194, 82);
    border: 1px solid rgb(255, 194, 82);
}




/* Code for seasonal recipes */

.classic-recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px; 
    justify-content: space-around;
}
.classic-recipes h3{
    font-size: 25px;
    padding: 10px;
}
.classic-recipes p{
    font-size: 20px;
}
.class-img{
    width: 100%;
    height: auto;
}
.rec-heading{
    padding: 30px;
    color: brown;
    font-size: 2rem;
}
.recipe-description{
    font-size: 1.5rem;
    text-align: justify;
    padding: 20px;
}

/* This is the css for the container housing the images and the recipes */
.classic-recipes > div {
    width: calc(33.33% - 20px); /* Each div takes up 33.33% of the container's width with a gap of 20px between them */
    box-sizing: border-box;
    background-color: rgb(255, 202, 103);
    padding: 7px;
    border-radius: 10px;
}
#arrow{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .classic-recipes > div {
        width: calc(100% - 20px); /* On smaller screens, make each div take up 100% of the container's width */
    }
}


/* this is the css for the drop down menu */
.recipe {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
.class-img {
    width: 100%;
    height: auto;
    transition: height 0.3s ease; /* Smooth transition for height change */
}

.recipe-details {
    height: 0; /* Initially hide recipe details */
    overflow: hidden;
    transition: height 0.3s ease; /* Smooth transition for height change */
}
/* This is the media query for the drop down */
@media (max-width: 768px) {
    .recipe {
        width: calc(100% - 20px);
    }
}


footer{
    width: 100%;
    padding: 25px;
    background-color: rgb(133, 53, 53);
    color: #F5DEB3;
}
#foot-text{
    font-size: 20px;
    text-align: center;
}
